<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoalMandu Register</title>
  <link rel="stylesheet" href="/auth/registration/reg.css">
</head>
<body>
  <div class="wrapper">
    <form action="" method="POST">
      <h2>Register</h2>
        <div class="input-field">
        <input name="name" type="text" required>
        <label>Full Name</label>
      </div>
      <div class="input-field">
        <input name="phone" type="text" required>
        <label>Phone No.</label>
      </div>
      
      <div class="input-field">
        <input name="password" type="password" required>
        <label>Password</label>
      </div>
      <div class="input-field">
        <input name="password2" type="password" required>
        <label>Confirm password</label>
      </div>
      <button type="submit">Register</button>
      <div class="register">
        <p>Already Register || <a href="/login">Login</a></p>
      </div>
    </form>
  </div>
</body>
</html>