<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoalMandu Regis Form</title>
    <link rel="stylesheet" href="/auth/form/form.css" />
  </head>
  <body>
    <div class="wrapper">
      <form action="" method="POST">
        <h2>Register futsal</h2>
        <div class="input-field">
          <input name="name" type="text" required />
          <label>Futsal Name</label>
        </div>
        <div class="input-field">
          <input name="contacts" type="text" required />
          <label>Contact No:</label>
        </div>
        <div class="input-field">
          <input name="address" type="text" required />
          <label>Address:</label>
        </div>
        <div style="display: flex;">
          <div class="input-field">
            <input name="laltitude" type="text" required />
            <label>laltitude</label>
          </div>
          <div class="input-field">
            <input name="longitude" type="text" required />
            <label>longitude</label>
          </div>  
        </div>
        <div style="display: flex;">
          <div class="input-field">
            <input name="price" type="text" required />
            <label>price</label>
          </div>  
          <div class="input-field">
            <input name="weekend_price" type="text" required />
            <label>weekend price</label>
          </div>  
        </div>
        <button type="submit">Register</button>
      </form>
  
    </div>
  </body>
</html>
